@import "../../../assets/scss/variables.scss";

.caution-notice-modal {
  .ant-modal-content {
    padding: 35px !important;
    .ant-modal-body {
      padding: 0;
      text-align: center;
      h2 {
        .dark-mode & {
          color: $white;
        }
      }
      p {
        color: #73aed2;
        font-size: $font-size-base - 1;
        text-align: justify;
        a {
          color: $secondary-color;
          font-weight: 600;
        }
      }
      h3 {
        color: $secondary-color;
        font-size: $font-size-base;
        margin-top: 15px;
        margin-bottom: 12px;
      }
      .ant-checkbox-wrapper {
        font-size: $font-size-sm;
        .dark-mode & {
          color: $white;
        }
        .ant-checkbox {
          &::after {
            border: 0;
          }
          .ant-checkbox-inner {
            margin-top: -13px;
            background: none;
            width: 12px;
            height: 12px;
            &::after {
              border-width: 1px;
              width: 3.5px;
              height: 6.2px;
            }
          }
          &.ant-checkbox-checked {
            .ant-checkbox-inner {
              background: $secondary-color;
              border-color: $secondary-color;
            }
          }
        }
      }
      .agree-btn {
        padding-top: 18px;
        .ant-btn {
          padding: 0 80px;
        }
      }
    }
  }
  .border-box {
    border: 1px solid $secondary-color;
    padding: 10px 10px;
    font-weight: 500;
    margin: 0.7rem 0;

    p {
      font-style: italic;
      font-weight: 700 !important;
      letter-spacing: 0.1px;
      color: $secondary-color !important;
    }
  }
  .disclaimer-box-container {
    height: 13.4rem;
    overflow: auto;
    padding: 0 1rem;
  }
}
