@import "../../styles/globalVariable.scss";

.orderbook__wrap {
  max-width: 1500px;
  margin: auto;
  padding: 20px 80px;
  position: relative;

  @media screen and (max-width: $XS) {
    padding: 20px;
  }
}

.orderbook__main {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;

  @media screen and (max-width: $XL) {
    grid-template-columns: repeat(1, 100%);
  }
}

.orderbook__element__left {
  // grid-row: 1/3;
  // grid-column: 1/2;

  // @media screen and (max-width: $M) {
  //   grid-row: auto;
  //   grid-column: auto;
  // }
}

.orderbook__element__middle__upper {
  // grid-row: 1/2;
  // grid-column: 2/3;
  // @media screen and (max-width: $XL) {
  //   grid-row: auto;
  //   grid-column: auto;
  // }
  // @media screen and (max-width: $M) {
  //   margin-top: 50px;
  // }
}

.orderbook__element__middle__lower {
  // grid-row: 2/3;
  // grid-column: 2/3;
  // @media screen and (max-width: $XL) {
  //   grid-row: auto;
  //   grid-column: auto;
  // }
}

.orderbook__element__right {
  // grid-row: 1/3;
  // grid-column: 3/4;
  // height: 70%;

  // @media screen and (max-width: $XXL) {
  //   height: 75%;
  // }

  // @media screen and (max-width: $XL) {
  //   grid-row: auto;
  //   grid-column: auto;
  //   height: 95%;
  // }
}

.orderbook__trading__view {
  height: 100%;
  background: linear-gradient(180deg, #030b1e 0%, #030b1e 100%);
  border: 2px solid #303950;
  border-radius: 20px;
  min-width: 650px;

  @media screen and (max-width: $XL) {
    min-width: 500px;
    height: 600px;
  }

  @media screen and (max-width: $MIX) {
    min-width: 450px;
  }

  @media screen and (max-width: $M) {
    width: 100%;
    min-width: 0;
  }
}

.orderbook__table__view {
  display: flex;
  flex-direction: column;
}

.orderbook__trading__part {
  height: 85.5%;

  iframe {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .feature-no-touch {
      .chart-page {
        border: none !important;
      }
    }

    html {
      padding: 0px 10px !important;
      background: red !important;

      body {
        border: none !important;
      }
    }
  }
  @media screen and (max-width: $XL) {
    height: 88.5%;
  }
}

.orderbook__trading__spin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91%;
}

.orderbook__tab__wrap {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px;
}

.orderbook__tab__element {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  opacity: 0.4;
  text-align: center;
  color: #ffffff;
  border: 1px solid $white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }
  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }
  &.active {
    opacity: 1;
  }
}

.orderbook__element__middle__upper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #030b1e 0%, #030b1e 100%);
  border: 2px solid #303950;
  border-radius: 20px;
}

.orderbook__element__middle__upper__head {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #303950;
}

.orderbook__upper__head__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #303950;
  padding: 10px 0px;
}

.orderbook__upper__head__left__title {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height */

  color: #ffffff;

  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }
}

.orderbook__upper__head__right__title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  gap: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #cdfe43;
  cursor: pointer;

  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }

  i {
    color: #cdfe43;
  }
}

.orderbook__lower__head__main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  max-height: 120px;

  &.upper {
    margin-top: 10px;
  }

  &.lower {
    padding: 15px;
  }
}

.orderbook__lower__head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.lower {
    margin-top: 10px;
  }
}

.orderbook__lower__head__title {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #73aed2;

  // @media screen and (max-width: $XXL) {
  //   font-size: 8px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }
}

.orderbook__lower__table__head__title {
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;

  // @media screen and (max-width: $XXL) {
  //   font-size: 8px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }

  &.profit {
    color: #3ff4be;
  }

  &.loss {
    color: #ff7b51;
  }
  &.no__data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
}

.orderbook__middle__head__main {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-bottom: 1px solid #303950;
}

.orderbook__middle__head__main__title {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #73aed2;

  // @media screen and (max-width: $XXL) {
  //   font-size: 8px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }

  &.active {
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;

    // @media screen and (max-width: $XXL) {
    //   font-size: 10px;
    // }

    // @media screen and (max-width: $XS) {
    //   font-size: 8px;
    // }
  }
}

.orderbook__element__middle__lower {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #030b1e 0%, #030b1e 100%);
  border: 2px solid #303950;
  border-radius: 20px;
}

.orderbook__upper__head__table {
  border-bottom: 1px solid #303950;
  padding: 15px;
}

.orderbook__middle__lower__table {
  padding: 15px;
  max-height: 130px;
  overflow: auto;
  // @media screen and (max-width: $XXL) {
  //   max-height: 228px;
  // }
}

.TVChartContainer {
  height: 98%;
}

.orderbook__middle__lower__table__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderbook__element__right {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #030b1e 0%, #030b1e 100%);
  border: 2px solid #303950;
  border-radius: 20px;
  height: 95%;

  @media screen and (max-width: $XL) {
    height: 100%;
  }
}

.orderbook__element__right__head {
  padding: 15px;
  border-bottom: 1px solid #303950;
}

.orderbook__element__right__body__wrap {
  padding: 25px 15px;
}

.orderbook__element__right__head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    color: #ffffff;
  }

  img {
    height: 15px;
  }
}

.orderbook__element__right__head__title {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height */

  color: #ffffff;

  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }
}

.orderbook__element__right__body__main {
  margin: 10px 0px;
}

.orderbook__element__right__body__tab {
  display: flex;
  flex-direction: column;
}

.orderbook__body__tab__head {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0px;
  border-bottom: 1px solid #303950;
}

.orderbook__body__tab__head__element {
  font-weight: 500;
  font-size: 10px;
  line-height: 17px;
  /* identical to box height */

  text-transform: uppercase;

  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }

  color: #7491a6;

  &.active {
    color: #fe4350;
  }
}

.orderbook__body__tab__body {
  padding: 10px 0px;
  border-bottom: 1px solid #303950;
}

.orderbook__body__tab__body__balance {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */
  text-align: right;

  color: #ffffff;

  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }
}

.orderbook__body__tab__body__input__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}

.orderbook__body__tab__body__input__title {
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;

  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }
}

.orderbook__body__tab__body__input {
  input {
    border: none;
    outline: none;
    background: rgba(31, 42, 69, 0.7);
    border-radius: 4px;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #ffffff;

    // @media screen and (max-width: $XXL) {
    //   font-size: 10px;
    // }

    // @media screen and (max-width: $XS) {
    //   font-size: 8px;
    // }
  }
}

.orderbook__body__tab__footer {
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.orderbook__body__tab__footer__element {
  border: 1px solid #293656;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  cursor: pointer;
  color: #eaeaea;

  &.active {
    background: #293656;
  }

  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }
}

.orderbook__body__tab__button {
  text-align: center;
  padding: 25px 0px;

  button {
    background: #fe4350;
    border: 2px solid #fe4350;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 700;
    font-size: 10px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;

    // @media screen and (max-width: $XXL) {
    //   font-size: 10px;
    // }

    // @media screen and (max-width: $XS) {
    //   font-size: 8px;
    // }
  }
}

.orderbook__table__title {
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  /* identical to box height */
  width: 100%;

  color: #ffffff;

  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }

  &.action {
    color: #fe4350;
    text-align: center;
  }

  &.lastChild {
    text-align: center;
  }
}

.orderbook__table__wrap {
  margin-top: 0px;
}

.orderbook__table__main {
  display: flex;
  flex-direction: column;
}

.orderbook__table__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  @media screen and (max-width: $XXL) {
    padding: 8px;
  }
}

.orderbook__table__body__wrap {
  max-height: 117px;
  overflow: auto;
  background: linear-gradient(180deg, #030b1e 0%, #030b1e 100%);
  border: 2px solid #303950;
  border-radius: 20px;
  padding: 12px;
}

.orderbook__table__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.orderbook__trading__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #28385f;

  // @media screen and (max-width: $XXL) {
  //   flex-direction: column;
  //   align-items: flex-start;
  //   gap: 10px;
  // }
}

.middle__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderbook__trading__element {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.element__child {
    flex-direction: column;
    align-items: flex-start;
  }

  i {
    color: #ffffff;
  }

  img {
    height: 12px;
  }
}

.orderbook__trading__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.428571px;
  color: #ffffff;

  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }
}

.orderbook__trading__element__title {
  font-weight: 700;
  font-size: 10px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.428571px;

  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // @media screen and (max-width: $XXL) {
  //   font-size: 10px;
  // }

  // @media screen and (max-width: $XS) {
  //   font-size: 8px;
  // }

  &.header {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.428571px;

    color: #73aed2;

    // @media screen and (max-width: $XXL) {
    //   font-size: 10px;
    // }

    // @media screen and (max-width: $XS) {
    //   font-size: 8px;
    // }
  }
  &.profit {
    color: #3ff4be;
  }
  &.loos {
    color: #eb4545;
  }

  @media screen and (max-width: $XS) {
    display: none;
  }
}

.total__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #28385f;
  padding: 10px 0px;
}

.total__title {
  font-size: 12px;
  font-weight: 500;
  color: $white;
}

.orderbook__wrap__head__title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;

  span {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
  }
}
