@import "../../assets/scss/variables.scss";

.MyHome-upper {
  display: flex;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  background: $background-light;
  box-shadow: $box-shadow-inner-light;
  .dark-mode & {
    background: $background-dark1;
    border: 1px solid $border-dark;
    box-shadow: $box-shadow-inner-dark;
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
  h2 {
    font-weight: 300;
    .dark-mode & {
      color: $white;
      font-size: 1.3rem;
    }
  }
  .MyHome-chart {
    width: 30%;
    max-width: 280px;
    svg {
      path {
        opacity: 1 !important;
      }
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 100%;
    }
    .nodatachart {
      width: 150px;
      height: 150px;
      border-radius: 150px;
      border: 12px solid rgba(#787f9e, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0.5rem auto;
      font-size: 1.3rem;
      line-height: 1.3;
      p {
        margin-bottom: 0;
        font-size: 1rem;
      }
    }
  }
  .MyHome-upper-right {
    width: 70%;
    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 100%;
    }
    label {
      font-size: 0.8rem;
      .dark-mode & {
        color: $text-color-light;
      }
    }

    .stats-label {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      .dark-mode & {
        color: $text-color-light;
      }
      .rect-shape {
        width: 10px;
        height: 10px;
        border-radius: 2px;
        margin-right: 4px;
      }
      .tooltip-icon {
        margin-left: 5px;
      }
    }
    h3 {
      margin-bottom: 0;
      color: $black;
      font-size: 1.1rem;
      font-weight: 300;
      .dark-mode & {
        color: $white;
      }
    }
  }
}

.myhome-bottom {
  .ant-tabs {
    position: relative;
  }
  .myhome-tabextra {
    color: $text-color-light;
    font-size: $font-size-sm;
    position: absolute;
    top: 12px;
    right: 0;
    font-weight: 400;
    @media screen and (max-width: 480px) {
      position: inherit;
    }
    .dark-mode {
      color: $text-color-light;
    }
    span {
      font-weight: lighter;
    }
  }
  .farm-table {
    small {
      .dark-mode & {
        color: $white !important;
      }
    }
    .tooltip-icon {
      margin-left: 4px;
    }
    .ant-table {
      .ant-table-content {
        table {
          .ant-table-tbody {
            tr {
              td:nth-child(2) {
              }
            }
          }
        }
      }
    }
  }
  .collateral-ratio-colum {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .ratio-progressbar {
      position: relative;
      text-align: center;
      .success-bg {
        display: flex;
        width: 100px;
        align-items: center;
        .ant-progress-outer {
          margin: 0;
          padding: 0;
          .ant-progress-inner {
            .dark-mode & {
              background: rgba($white, 0.5);
            }
            .ant-progress-bg {
              background: $success-color;
            }
          }
        }
        .ant-progress-text {
          .dark-mode & {
            color: $white;
          }
        }
      }
      .alert-bg {
        display: flex;
        width: 100px;
        align-items: center;
        .ant-progress-outer {
          margin: 0;
          padding: 0;
          .ant-progress-inner {
            .dark-mode & {
              background: rgba($white, 0.5);
            }
            .ant-progress-bg {
              background: $warning-color;
            }
          }
        }
        .ant-progress-text {
          .dark-mode & {
            color: $white;
          }
        }
      }
      small {
        position: relative;
        top: 0;
        font-size: $font-size-sm - 2 !important;
      }
    }
  }
}
.shape-cAsset-bal {
  background: #003f9a;
  .dark-mode & {
    background: #2561b0;
  }
}
.shape-mint-bal {
  background: #2871cc;
  .dark-mode & {
    background: #3879ce;
  }
}
.shape-farm-bal {
  background: #5099f4;
  .dark-mode & {
    background: #1a4f94;
  }
}
.shape-asset-bal {
  background: #78c1ff;
  .dark-mode & {
    background: #123c73;
  }
}
.assets-withicon {
  display: flex;
  align-items: center;
  .assets-icon-2 {
    margin-left: -20px;
  }
  .assets-icon {
    background: $primary-gradient;
    padding: 1px;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      width: 100%;
      height: 100%;
      border-radius: 38px;
      padding: 3px;
      background: $background-light;
      .dark-mode & {
        background: $background-dark1;
      }
    }
  }
}
.history-table {
  .ant-table {
    .ant-table-content {
      table {
        .ant-table-tbody {
          tr {
            td:nth-child(1) {
              text-align: left !important;
              padding: 15px 15px;
            }
            th:nth-child(2) {
              width: 300px;
            }
            td:nth-child(3) {
              padding-right: 40px;
            }
          }
        }
        .ant-table-thead {
          tr {
            td:nth-child(1) {
            }
            th:nth-child(2) {
              width: 200px;
            }
            th:nth-child(3) {
              padding-right: 40px;
            }
          }
        }
      }
    }
  }
  .ant-pagination {
    margin: 5px 0 !important;
    li {
      background: none;
      border: 0;
      .ant-select-selector {
        color: $text-color-dark;
        .dark-mode & {
          background: $background-dark2;
          color: $white;
          border-color: $text-color-light;
        }
      }
      a {
        background: none;
        color: $text-color-dark;
        font-weight: 700;
      }
      .ant-pagination-item-link {
        background: none;
        border: 0;
        .dark-mode & {
          color: $text-color-light;
        }
      }
      &.ant-pagination-item-active {
        a {
          .dark-mode & {
            color: $white;
          }
        }
      }
    }
  }
}

.connect {
  font-size: 1.5rem;
  font-weight: 500;
  .dark-mode & {
    color: $text-color-light;
  }
}

.tx-hash-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a{
    .dark-mode & {
      color: $white;
    }
  }
  .icon {
    fill: $background-dark2;
    margin-left: 8px;
    width: 12px;
    .dark-mode & {
      fill: $background-light;
    }
  }
}
.portfolio-apr {
  display: flex;
  column-gap: 5px;
  .view-all-farm-apr {
    border: 1px solid $secondary-color;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 0 0 0 10px;
    cursor: pointer;
  }
}
