@import "../../assets/scss/variables";

.borrow-complete {
  .head-section {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 10px;
    .icon {
      fill: $primary-color;
      width: 45px;
      margin-bottom: 0;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
    li {
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      font-size: $font-size-base;
      margin-top: 8px;
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
        span {
          padding-right: 3px;
        }
      }
    }
  }
}
