@import '../../../styles/globalVariable.scss';

.search__wrap {
  position: relative;
  width: 100%;

  .input1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    border: 2px solid $inputColor1;
    border-radius: 40px;
    background: none;
    padding: 12px;
    width: 100%;

    &.light {
      color: $inputColor1;

      &:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
      }

      &::placeholder {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: $inputColor1;
      }
    }

    &.dark {
      color: $inputColor1;

      &:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
      }

      &::placeholder {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: $inputColor1;
      }
    }
  }

  .search__icon1 {
    position: absolute;
    top: 18px;
    right: 25px;

    &.icon_dark {
      color: $inputColor1;
    }

    &.icon_light {
      color: $inputColor1;
    }
  }

  .input2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    border: 2px solid $inputColor2;
    border-radius: 40px;
    background: none;
    padding: 12px;
    width: 100%;

    &.light {
      color: $inputColor2;

      &:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
      }

      &::placeholder {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: $inputColor2;
      }
    }

    &.dark {
      color: $inputColor2;

      &:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
      }

      &::placeholder {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: $inputColor2;
      }
    }
  }

  .search__icon2 {
    position: absolute;
    top: 18px;
    right: 25px;

    &.icon_dark {
      color: $inputColor2;
    }

    &.icon_light {
      color: $inputColor2;
    }
  }
}
