.table__wrap {
  table {
    border-collapse: separate;
    border-spacing: 0px 18px;
    width: 100%;
  }

  td,
  th {
    text-align: left;
    padding: 8px;
    color: #ffffff;
    padding: 10px 30px;
  }

  thead {
    tr:nth-child(1) {
      background-color: transparent;
    }

    tr {
      th {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
      }
    }
  }

  tbody {
    tr {
      position: relative;
      overflow: hidden;

      ::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: #000000;
        opacity: 0.6;
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 20px;
      }
    }
  }
}
