@import '../../../styles/globalVariable.scss';

.sidebar__wrap {
  position: fixed;
  top: 0;
  left: 0;
  background: rebeccapurple;
  height: 100%;
  padding: 20px;
  width: 250px;
  z-index: 999999;
  transform: translateX(-100%);
  transition: 0.3s transform ease-in;
  display: none;
  box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: $L) {
    display: block;
  }

  &.active {
    transform: translateX(0);
  }
}

.sidebar__main {
  height: 100%;
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
}
.sidebar__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.sidebar__logo {
  img {
    height: 45.14px;
    width: 130px;
  }
}

.sidebar__lower {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.sidebar__element {
  padding: 20px 0px;
}
