@import '../../../styles/globalVariable.scss';

.tab__wrap {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid $inputColor1;
  border-radius: 40px;
  padding: 12px;
}

.tab__element {
  border-radius: 50px;
  padding: 10px;
  width: 100%;
  cursor: pointer;

  &.active {
    &.light {
      background: $red;
    }

    &.dark {
      background: $red;
    }
  }
}

.tab__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  &.light {
    color: $white;
  }

  &.dark {
    color: $white;
  }
}
