@import "../../../assets/scss/variables.scss";

.common-card {
  background: $background-light;
  padding: 15px 35px;
  border-radius: $base-border-radius + 5;
  box-shadow: $box-shadow-inner-light;
  position: relative;
  @media screen and (max-width: 767px) {
    padding: 35px 20px;
  }
  .dark-mode & {
    background: $background-dark1;
    border: 1px solid $border-dark;
    box-shadow: $box-shadow-inner-dark;
  }
}

.pool-details-list {
  .tooltip-icon {
    margin-left: 3px;
    margin-bottom: -1px;
    .dark-mode & {
      fill: $text-color-light;
    }
  }
}

.ant-btn {
  &.back-btn {
    border: 1px solid #303950;
    color: #303950;
    background: none;
    border-radius: 30px !important;
    font-weight: normal;
    height: 32px;
    line-height: 100%;
    .dark-mode & {
      color: $white;
    }
    &:hover {
      .dark-mode & {
        background: #303950;
        border-color: #303950;
        color: $white;
      }
    }
  }
}

.card-titles {
  margin-bottom: 1.8rem;
  .dark-mode & {
    color: $white;
  }
}

.card-title-label {
  .dark-mode & {
    color: $text-color-light;
  }
}

.ant-slider {
  &.comdex-slider-alt {
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;

    .ant-slider-rail {
      background-color: #5d6a82 !important;
      height: 6px;
      border-radius: 6px;
      .dark-mode & {
        background-color: $white !important;
      }
    }
    .ant-slider-track {
      background: $secondary-color;
      height: 6px;
      border-radius: 6px;
    }

    .ant-slider-handle {
      background-color: $secondary-color;
      border: 3px solid $secondary-color;
      width: 14px;
      height: 14px;
      border-radius: 14px;
      margin-top: -1px;
      &:after {
        display: none;
      }
    }

    .ant-slider-step {
      display: none;
      .ant-slider-dot {
        width: 1px;
        height: 6px;
        border: 0;
        top: -6px;
        background: $silver-color;

        &.ant-slider-dot-active {
          background: $secondary-color;
        }
        &:first-child {
          margin-left: 0;
        }
        &:nth-child(2) {
          margin-left: -1px;
        }
        &:last-child {
          margin-left: -1px;
        }
      }
    }

    .ant-slider-mark {
      top: 20px;
      width: calc(100% - 15px);

      span {
        font-size: $font-size-sm;
        font-weight: 300;

        .dark-mode & {
          color: $text-color-light;
        }
      }
      span:nth-child(2) {
        left: 50% !important;
      }
      span:nth-child(3) {
        left: 100% !important;
      }
    }
    &:hover {
      .ant-slider-track {
        background: $secondary-color;
      }
      .ant-slider-handle {
        background-color: $secondary-color;
        border: 3px solid $secondary-color !important;
      }
    }
  }
}

.farm-details-tab {
  .ant-tabs-content-holder {
    height: 100%;
    .ant-tabs-content {
      height: 100%;
      .ant-tabs-tabpane {
        height: 100%;
        .common-card {
          height: 100%;
        }
      }
    }
  }
}
.view-all-farm-apr {
  cursor: pointer;
}
.farm-apr-modal span {
  margin: 0 0 0 10px;
}

.ant-slider {
  &.farm-slider {
    margin-bottom: 32px;
    pointer-events: none;
    @media screen and (max-width: 1540px) {
      margin-bottom: 28px;
    }
    .ant-slider-mark-text {
      margin-top: 8px;
      font-size: $font-size-sm - 1;
      @media screen and (max-width: 1540px) {
        font-size: $font-size-sm - 2;
      }
      .dark-mode & {
        color: $white;
      }
    }
    .ant-slider-track {
      height: 0;
      border-radius: 8px;
      position: relative;
      background: none;
    }
    .ant-slider-step {
      .ant-slider-dot {
        height: 20px;
        width: 6px;
        border-radius: 0;
        opacity: 1;
        margin-top: -5px;
        background: none;
        border-color: $primary-color;
        @media screen and (max-width: 1540px) {
          height: 16px;
          width: 5px;
          margin-top: -4px;
        }
        // &:first-child {
        //   display: none;
        // }
        // &:last-child {
        //   display: none;
        // }
        &:first-child {
          border-width: 1px 0 1px 1px;
        }
        &:last-child {
          border-width: 1px 1px 1px 0;
        }
        .dark-mode & {
          border-color: $white;
        }
      }
    }
    .ant-slider-handle {
      margin-top: -8px;
      width: 15px;
      &::after {
        display: none;
      }
      &::before {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 7.5px solid $secondary-color;
        margin: 0;
        top: 1px;
        left: 0;
        right: 0;
        @media screen and (max-width: 1540px) {
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid $secondary-color;
        }
      }
    }
    .ant-slider-rail {
      height: 8px;
      border-radius: 10px;
      position: relative;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 8%,
        rgba(254, 67, 80, 1) 46%,
        rgba(255, 255, 255, 1) 92%
      );
      @media screen and (max-width: 1540px) {
        height: 6px;
      }
      .dark-mode & {
        background: rgb(3, 11, 30);
        background: linear-gradient(
          90deg,
          rgba(3, 11, 30, 1) 8%,
          rgba(254, 67, 80, 1) 46%,
          rgba(3, 11, 30, 1) 92%
        );
      }
      &::after {
        position: absolute;
        content: "";
        height: 1px;
        display: inline-block;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        background: rgb(3, 11, 30);
        background: linear-gradient(
          270deg,
          #ffffff 0%,
          #ffffff 46.7%,
          #ffffff 98.53%
        );
        .dark-mode & {
          background: rgb(3, 11, 30);
          background: linear-gradient(
            270deg,
            #030b1e 0%,
            #ffffff 46.7%,
            #030b1e 98.53%
          );
        }
      }
    }
  }
  &.farm-slider-small {
    margin-bottom: 12px;
    .ant-slider-step {
      .ant-slider-dot {
        height: 18px;
        width: 3px;
      }
    }
    .ant-slider-mark-text {
      display: none;
    }
    .ant-slider-rail {
      height: 5px;
    }
  }
}

.farmrange-title {
  font-size: $font-size-lg + 3;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.3rem;
  margin-top: -24px;
  @media screen and (max-width: 1540px) {
    font-size: $font-size-lg - 1;
  }
  .dark-mode & {
    color: $white;
  }
  .icon {
    width: 14px;
    height: 14px;
    margin-left: 8px;
    margin-top: 4px;
    @media screen and (max-width: 1540px) {
      width: 10px;
      height: 10px;
      margin-top: 2px;
    }
    cursor: pointer;
    .dark-mode & {
      fill: #b8b8b8;
    }
  }
}

.ranged-tooltip {
  .ant-tooltip-arrow {
    display: none;
  }
  .ant-tooltip-inner {
    background: $background-light;
    padding: 25px 28px;
    border-radius: 5;
    box-shadow: $box-shadow-inner-light;
    position: relative;
    min-width: 260px;
    .dark-mode & {
      background: $background-dark1;
      border: 1px solid $border-dark;
      box-shadow: 0px 0px 38px -1px rgba(48, 77, 128, 0.6),
        inset 2px 2px 16px 1px #262b38;
    }
    .row {
      padding-bottom: 10px;
      font-size: $font-size-base;
      color: $text-color-dark2;
      .dark-mode & {
        color: $white;
      }
      @media screen and (max-width: 1540px) {
        font-size: $font-size-sm + 1;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  &.ranged-tooltip-small {
    .ant-tooltip-inner {
      padding: 10px 20px 25px 25px;
      .row {
        font-size: $font-size-base;
      }
    }
  }
}

.masterpool-tooltip {
  width: 500px;
  max-width: 80%;
  @media screen and (max-width: 1540px) {
    width: 350px;
  }
  .ant-tooltip-arrow {
    display: none;
  }
  .ant-tooltip-inner {
    background: $background-light;
    padding: 15px;
    font-size: $font-size-base;
    border-radius: 4px;
    color: $tooltip-color-dark;
    font-weight: 500;
    margin-left: -90px;
    @media screen and (max-width: 1540px) {
      font-size: $font-size-sm - 1;
      padding: 10px 12px;
    }
    @media screen and (max-width: 767px) {
      margin-left: 10px;
    }
    .dark-mode & {
      background: #ececec;
      border: 1px solid #ececec;
    }
    a {
      text-decoration: underline;
      color: $tooltip-color-dark;
    }
  }
}

.ant-tooltip-open {
  &.ant-slider-tooltip {
    padding: 0;
    .ant-tooltip-open-inner {
      background: none;
      padding: 0;
      height: 12px;
      min-height: 12px;
      text-align: center;
      font-size: $font-size-sm - 2;
      @media screen and (max-width: 1540px) {
        font-size: $font-size-sm - 2;
        height: 11px;
        min-height: 11px;
      }
    }
    .ant-tooltip-open-arrow {
      display: none;
    }
  }
}

.farm-rang-slider {
  max-width: 80%;
  margin: auto;
}
