.toggle__wrapper {
  position: relative;
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 32px;
    height: 16px;
    background: #0d2459;
    display: block;
    border-radius: 24px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 2.5px;
    left: 4px;
    width: 11px;
    height: 11px;
    background: #ffffff;
    border-radius: 50px;
    transition: 0.4s;
  }

  input:checked + label {
    background: #ff4350;
  }

  input:checked + label:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }
}
