@import "../../assets/scss/variables.scss";

.govern-card {
  background: $background-light;
  padding: 1px;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow-inner-light;
  border: 1px solid transparent;
  .dark-mode & {
    background: $background-dark1;
    border: 1px solid $border-dark;
    box-shadow: $box-shadow-inner-dark;
  }
  .governcard-head {
    padding: 18px;
    text-align: center;
    border-bottom: 1px solid rgba($text-color-light, 0.4);

    .dark-mode & {
      border-bottom: 1px solid rgba($text-color-light, 0.2);
    }

    .filter-select {
      .ant-select-arrow {
        .icon {
          width: 12px;
        }
      }
      .ant-select-selector {
        background: $background-dark1;
        border-radius: 40px;
        padding: 0 40px;
        color: $white;
        .dark-mode & {
          border-color: $text-color-light;
        }
        &:hover {
          background: $background-dark2;
          border-color: $secondary-color;
        }
      }
    }

    .ant-btn {
      margin: 5px 10px;
    }
  }

  .govern-card-content {
    .governlist-row {
      display: flex;
      padding: 20px 40px 20px;
      border-bottom: 1px solid rgba($text-color-light, 0.4);
      cursor: pointer;
      transition: all ease-in 0.1s;
      &:hover {
        background: $body-background-light;
        .dark-mode & {
          background: $body-background-dark;
        }
      }

      &:last-child {
        border: 0;
      }

      .dark-mode & {
        border-bottom: 1px solid rgba($text-color-light, 0.2);
      }

      .left-section {
        width: 55%;
        padding-right: 10%;
        line-height: 1.2;

        .ant-btn {
          @media screen and (max-width:1540px) {
            padding: 0 15px;
            height: 30px;
            line-height: 30px;
            font-size: $font-size-base - 1;
          }
        }

        h3 {
          font-size: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 8px;

          @media screen and (max-width:1540px) {
            font-size: 17px;
            margin-bottom: 6px;
          }

          .dark-mode & {
            color: $white;
          }
        }
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          a {
            font-size: $font-size-sm;
            color: $text-color-light;
          }
        }
      }

      .right-section {
        width: 45%;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.381' height='15' viewBox='0 0 8.381 15'%3E%3Cpath id='Path_39' data-name='Path 39' d='M0 .893A.9.9 0 0 1 .253.261.877.877 0 0 1 1.5.261l6 5.987L13.491.261a.882.882 0 1 1 1.248 1.248l-6.6 6.619a.87.87 0 0 1-.632.253.939.939 0 0 1-.632-.253L.253 1.509A.86.86 0 0 1 0 .893Z' transform='translate(0 15) rotate(-90)' fill='%23000'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 100% 50%;
        transition: all ease-in 0.1s;

        .dark-mode & {
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.381' height='15' viewBox='0 0 8.381 15'%3E%3Cpath id='Path_39' data-name='Path 39' d='M0 .893A.9.9 0 0 1 .253.261.877.877 0 0 1 1.5.261l6 5.987L13.491.261a.882.882 0 1 1 1.248 1.248l-6.6 6.619a.87.87 0 0 1-.632.253.939.939 0 0 1-.632-.253L.253 1.509A.86.86 0 0 1 0 .893Z' transform='translate(0 15) rotate(-90)' fill='%23fff'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: 100% 50%;
          transition: all ease-in 0.1s;
        }

        .right-col {
          &:last-child {
            p {
              margin-bottom: 0;
            }
          }
        }

        .ant-progress {
          .ant-progress-outer {
            padding: 0;
          }

          .ant-progress-inner {
            background: rgba(79, 177, 255, 0.34);
            height: 15px;
            overflow: inherit;

            .ant-progress-bg {
              background: #f9535e;
              min-height: 100%;
              position: relative;
              border-radius: 20px 0 0 20px;
            }
            .ant-progress-success-bg {
              background: $secondary-btn-color;
              min-height: 100%;
              border-radius: 20px 0 0 20px;
            }
          }
        }

        label {
          margin-bottom: 5px;
          display: block;
          .dark-mode & {
            color: $text-color-light;
          }
        }

        p {
          font-weight: bold;
          font-size: 17px;
          margin-bottom: 6px;

          .dark-mode & {
            color: $white;
          }
        }
      }

      &:hover {
        .left-section {
          background-position: 100.5% 50%;
        }
      }
    }
  }
}

.earn-deposite-card {
  padding: 40px 25px 35px 25px;
  border-radius: $base-border-radius;
  background: $background-light;
  box-shadow: $box-shadow-inner-light;
  border: 1px solid transparent;

  .dark-mode & {
    background-color: $background-dark1;
    box-shadow: none;
  }

  .input-select {
    small {
      .dark-mode & {
        color: #fff;
      }
    }
  }
}

.claim-drop-amount {
  color: #000;
  font-size: 1.4rem;
  font-weight: 600;
  .dark-mode & {
    color: #fff;
  }
}

.composite-card.myhome-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 25px 20px;
  margin-bottom: 2rem;
  background: $background-light;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow-inner-light;
  .dark-mode & {
    background: $background-dark1;
    border: 1px solid $border-dark;
    box-shadow: $box-shadow-inner-dark;
  }
  @media only screen and (max-width: 850px) {
    flex-direction: column;
  }
  .myhome-upper-left {
    width: 60%;
    width: 100%;
    .claim-drop-amount {
      color: #000;
      font-size: 1.4rem;
      font-weight: 600;
      .dark-mode & {
        color: #fff;
      }
    }
    .ant-list {
      .ant-list-item {
        margin: 5px 0;
        color: $text-color-dark2;
        padding-left: 15px;
        font-weight: 600;
        .dark-mode & {
          color: $white;
        }
        p {
          margin-bottom: 0;
          font-size: $font-size-base;
          border-left: 3px solid $text-color-light;
          padding-left: 8px;
          font-weight: 400;
          .dark-mode & {
            color: $text-color-light;
          }
          @media only screen and (min-width: 850px) and (max-width: 1065px) {
            font-size: 12px;
          }
          @media only screen and (min-width: 500px) and (max-width: 530px) {
            font-size: 12px;
          }
        }
        h3 {
          margin-bottom: 0;
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1;
          margin-top: 8px;
          padding-left: 12px;
          .dark-mode & {
            color: $white;
          }
        }
        .stats-values {
          display: flex;
          align-items: flex-end;
          h3 {
            margin-bottom: 0;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1;
            margin-top: 8px;
            .dark-mode & {
              color: $white;
            }
          }
          span {
            font-size: 13px;
            font-weight: 500;
            padding-left: 5px;
            .dark-mode & {
              color: $white;
            }
          }
        }
      }
      .ant-row {
        @media only screen and (max-width: 760px) {
          row-gap: 12px;
        }
        @media only screen and (min-width: 500px) and (max-width: 570px) {
          justify-content: space-between;
          & div:nth-child(1) {
            flex-basis: 35%;
          }
          & div:nth-child(2) {
            flex-basis: 45%;
          }
        }
      }
    }
  }
  .myhome-upper-right {
    width: 40%;
    @media only screen and (max-width: 765px) {
      width: 100%;
    }
    .borrow-limit-bar {
      .small-text {
        font-size: $font-size-base - 1;
      }
      .borrow-limit-upper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        line-height: 1;
        margin-bottom: 4px;
        h4 {
          font-size: $font-size-lg + 3;
          font-weight: bold;
          margin-bottom: 0;
          color: $success-color;
          .dark-mode & {
            color: $white;
          }
        }
      }
      .borrow-limit-middle {
        .ant-progress {
          .ant-progress-outer {
            padding: 0;
          }
          .ant-progress-inner {
            background: $slider-empty-bg;
            height: 20px;
            overflow: inherit;
            .ant-progress-bg {
              background: $secondary-color;
              min-height: 100%;
              position: relative;
            }
          }
        }
      }
      .borrow-limit-bottom {
        margin-top: 6px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        line-height: 1;
      }
    }
  }
}

.count {
  .dark-mode & {
    color: #fff;
  }
}

.ant-btn {
  .passed-circle {
    border-radius: 5px;
    background: $success-color;
    width: 11px;
    height: 11px;
    margin-right: 3px;
    @media screen and (max-width:1540px) {
      width: 8px;
      height: 8px;
    }
  }
  .failed-circle {
    border-radius: 5px;
    background: $error-color;
    width: 11px;
    height: 11px;
    margin-right: 3px;
    @media screen and (max-width:1540px) {
      width: 8px;
      height: 8px;
    }
  }
  .warning-circle {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: $warning-color;
    width: 11px;
    height: 11px;
    margin-right: 3px;
    @media screen and (max-width:1540px) {
      width: 8px;
      height: 8px;
    }
  }
}
