@import "../../../assets/scss/style.scss";
.create-pool-modal {
  .ant-modal-content {
    padding: 10px 15px !important;
  }
  .col {
    padding-left: 0;
  }
  .assets-select-card {
    align-items: center;
    min-height: 85px;
    .assets-right .ant-input {
      margin-top: 0;
    }
  }
  .circle-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 1px;
    background: linear-gradient(180deg, #fe4350 1.34%, #053c75 100.83%);
    margin-right: 12px;
    .icon-circle {
      background: $white;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      .dark-mode & {
        background: $background-dark1;
      }
      .svg-icon-inner {
        width: 100%;
        height: 100%;
        .icon {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }
  .pool-fee-container {
    .pool-denom {
      font-size: 1.3rem;
    }
    .pool-paira {
      font-size: 0.7rem;
      .dark-mode & {
        color: $text-color-label-dark;
      }
    }
  }
  .input-select {
    display: flex;
    align-items: center;
  }
  .validation-input-select {
    flex-direction: column;
  }
  .percentage {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .swap-fee-input-container {
    position: relative;
    margin-right: 18px;
    .swap-percentage {
      position: absolute;
      top: 2px;
      right: -20px;
    }
  }
  .pool-denom {
    font-weight: 300;
    .dark-mode & {
      color: $text-color-label-dark;
    }
  }
  .selected-amount {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .checkbox-container p {
    font-size: 0.8rem;
    .dark-mode & {
      color: $text-color-label-dark;
    }
  }
}

.poolcreation-fee {
  background: linear-gradient(
    146.26deg,
    #fe4350 1.34%,
    #053c75 100.83%
  ) !important;
  padding: 1px;
  border-radius: $base-border-radius - 5;
  .poolcreationfee-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: $background-light;
    border-radius: $base-border-radius - 5;
    .dark-mode & {
      background: $background-dark1;
    }
    .poolcreationfree-left {
      .pool-denom {
        .dark-mode & {
          color: $white;
          font-weight: 500;
          font-size: 1rem;
        }
      }
      .pool-paira {
        margin-bottom: 0;
      }
    }
    .poolcreationfee-right {
      font-size: 1.3rem;
      font-weight: 500;
      .dark-mode & {
        color: $white;
      }
    }
  }
}
