@import "../../../assets/scss/variables.scss";

.composite-card {
  .card-header{
    font-weight: 400;
    margin-bottom: 10px;
  }
  &.govern-card2 {
    padding: 26px;
    .description-row {
      max-height: 165px;
      overflow-y: auto;
    }
    h3 {
      margin-bottom: 8px;
      .dark-mode & {
        color: $white;
      }
    }

    h2 {
      .dark-mode & {
        color: $white;
      }
    }

    .govern-dlt-card {
      display: flex;

      .govern-dlt-chart {
        width: 40%;
      }

      .govern-dlt-right {
        width: 60%;

        .ant-list {
          .ant-list-item {
            margin: 5px 0;
            color: $text-color-dark2;
            border-left: 1px solid$success-color;
            padding-left: 15px;

            .dark-mode & {
              color: $white;
            }

            p {
              margin-bottom: 0;
              font-size: $font-size-base;
            }

            h3 {
              margin-bottom: 0;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1;
              margin-top: 8px;

              .dark-mode & {
                color: $white;
              }
            }
          }
        }

        .vote-lists {
          list-style-type: none;
          padding-left: 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          margin-top: 28px;

          li {
            display: flex;
            align-items: flex-start;
            line-height: 1;

            .icon {
              width: 12px;
              height: 12px;
              min-width: 12px;
              border-radius: 2px;
              margin-right: 10px;
            }

            label {
              line-height: 1;
            }

            p {
              margin-bottom: 0;
              font-size: 19px;
              font-weight: 500;
              margin-top: 8px;
            }
            &:nth-child(1) {
              .icon {
                fill: #003f9a;
                .dark-mode & {
                  fill: #2561b0;
                }
              }
            }
            &:nth-child(2) {
              .icon {
                fill: #2871cc;
                .dark-mode & {
                  fill: #3879ce;
                }
              }
            }
            &:nth-child(3) {
              .icon {
                fill: #5099f4;
                .dark-mode & {
                  fill: #1a4f94;
                }
              }
            }

            &:nth-child(4) {
              .icon {
                fill: #78c1ff;
                .dark-mode & {
                  fill: #123c73;
                }
              }
            }
          }
        }
      }
    }
    .user-vote-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .vote_msg {
        font-weight: 600;
        font-size: 15px;
        text-transform: capitalize;
      }
    }
  }
  .address_with_copy {
    display: flex;
    align-items: center;
  }

  .votes-chart {
    .highcharts-empty-series {
      fill: #787f9e;
    }
  }
}
