@import "../../assets/scss/variables.scss";

.farm-content-card {
  background: $background-light;
  padding: 15px 35px 10px 35px;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow-inner-light;
  position: relative;
  height: 100%;
  .dark-mode & {
    background: $background-dark1;
    border: 1px solid $border-dark;
    box-shadow: $box-shadow-inner-dark;
  }
  .assets-select-card:nth-child(2) {
    margin-top: 20px;
  }
  .assets-form-btn {
    margin-top: 30px;
  }
}

.farm-content-card-right {
  background: $background-light;
  padding: 15px 35px;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow-inner-light;
  position: relative;
  .dark-mode & {
    background: $background-dark1;
    border: 1px solid $border-dark;
    box-shadow: $box-shadow-inner-dark;
  }
  @media screen and (max-width: 991px) {
    margin-top: 20px;
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: 2px;
    .dark-mode & {
      color: $text-color-light;
    }
  }

  .pool-details-upper {
    display: flex;
    align-items: center;
    .pool-details-dlt {
      line-height: 1;
      padding-left: 10px;
      margin-top: 10px;
      margin-bottom: 15px;
      h2 {
        margin-bottom: 0;
        font-size: $font-size-lg;

        .dark-mode & {
          color: $white;
        }
      }
      small {
        color: $text-color-label-dark;
      }
    }
    .pool-details-icon {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      background: $primary-gradient;
      padding: 1px;
      .pool-details-icon-inner {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: $white;
        padding: 5px;
        .dark-mode & {
          background: $background-dark1;
        }
        .icon {
          width: 100%;
          height: 100%;
          fill: $background-dark1;
          .dark-mode & {
            fill: $white;
          }
        }
      }
    }
  }
  .pool-details-list {
    label {
      font-size: $font-size-sm;
      color: $text-color-light;
      margin-bottom: 7px;
      display: inline-block;
      line-height: 1;
    }
    p {
      margin-bottom: 0;
      line-height: 1;
      font-size: $font-size-base;
    }
  }
  &.your-details-card {
    margin-top: 2.1rem !important;
    .slider-numbers {
      .ant-slider {
        &.comdex-slider {
          margin-top: 6px;
          padding-right: 15px;
          .ant-slider-dot {
            display: none;
          }
          .ant-slider-mark {
            top: 16px;
          }
        }
      }
      h3 {
        font-size: $font-size-base;
        .dark-mode & {
          color: $white !important;
        }
      }
      .ant-input {
        margin-bottom: 0;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        font-weight: 300;
        padding: 0 0;
        margin-top: -10px;
        max-width: 35px;
        text-align: center;
        font-size: $font-size-lg + 3;
        background-color: transparent;
        border: none;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          display: none;
          margin: 0;
        }
        .dark-mode & {
          background: transparent;
          border-color: #18305a;
          color: $white;
        }
      }
    }
  }
}

.alert-label {
  font-size: 11px;
  color: $error-color;
  height: 11px;
  visibility: visible;
  margin-bottom: 4px;
  width: 100%;
}

.alert-hidden {
  height: 11px;
  visibility: hidden;
}

.farm-modal-tab {
  height: 100%;
  .ant-tabs-nav {
    margin-bottom: 16px !important;
  }
  .ant-tabs-content-holder {
    height: 100%;
    .ant-tabs-content {
      height: 100%;
      .ant-tabs-tabpane {
        height: 100%;
        .common-card {
          height: 100%;
        }
      }
    }
  }
  .farm-content-card {
    box-shadow: none;
    padding: 25px 0 15px 0;
    .dark-mode & {
      box-shadow: none;
      border: none !important;
    }
  }
  @media (min-width: 992px) {
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 100%;
    }
  }
  .col-md-12,
  .col-lg-6 {
    padding-right: 0;
    padding-left: 0;
  }
}
.farm-asset-icon-container {
  background: none !important;
  border: 0 !important;
  height: 40px;
  min-width: 140px;
  padding-left: 0;
  box-shadow: none !important;
  .select-inner {
    height: 100%;
    display: flex;
    align-items: center;
    .svg-icon {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: $primary-gradient;
      padding: 1px;
      margin-right: 15px;
      .svg-icon-inner {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 6px;
        background: $white;
        .dark-mode & {
          background: $background-dark1;
        }
        .icon {
          width: 100%;
          height: 100%;
          fill: $background-dark1;
          .dark-mode & {
            fill: $white;
          }
        }
      }
    }
    .name {
      .dark-mode & {
        color: $white;
      }
      font-size: 17px;
    }
  }
}

.fartm-pool-modal {
  .ant-modal-content {
    padding: 20px 30px !important;
  }
}

.slider-numbers {
  display: flex;
  .ant-slider {
    &.comdex-slider {
      margin-top: 6px;
      padding-right: 15px;
      .ant-slider-dot {
        display: none;
      }
      .ant-slider-mark {
        top: 16px;
      }
    }
  }
  h3 {
    font-size: $font-size-base;
    .dark-mode & {
      color: $white !important;
    }
  }
  .ant-input {
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-weight: 300;
    margin-top: -14px;
    max-width: 70px;
    padding: 0 25px 0 10px;
    text-align: center;
    font-size: 19px;
    border: none;
    background: $assets-bg-light;
    margin-left: 10px;

    .dark-mode & {
      background: #081938;
      border-color: #18305a;
      color: $white;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
      margin: 0;
    }
  }
}
.availabe-balance {
  position: absolute;
  right: 25px;
  font-size: $font-size-sm;
  .dark-mode & {
    color: $white;
  }
  span {
    color: $secondary-color;
  }
}
.percent-text {
  margin-left: 6px;
  margin-top: -5px;
  .dark-mode & {
    color: $text-color-light;
  }
}

.farm-heading {
  font-size: 1.388rem;
  margin-bottom: 0;
  font-weight: 500;
}

.farm-pool-list {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 21px;
  @media screen and (max-width: 990px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 460px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.poolcard-two {
  background: $background-light;
  padding: 1px;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow-inner-light;
  .dark-mode & {
    background: $background-dark1;
    border: 1px solid $border-dark;
    box-shadow: $box-shadow-inner-dark;
  }
  .poolcard-two-inner {
    cursor: pointer;
    border-radius: $base-border-radius;
    height: 100%;
    .card-upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      padding: 10px 20px 0 20px;

      h3 {
        margin-bottom: 0;
        font-size: 1.45rem;
        .dark-mode & {
          color: $white;
        }
      }
      .card-svg-icon-container {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        .card-svgicon-1 {
          margin-right: 10px;
        }
        .card-svgicon-2 {
          margin-right: 10px;
        }
        .card-svgicon {
          width: 40px;
          height: 40px;
          border-radius: 40px;
          background: $primary-gradient;
          padding: 1px;
          .card-svgicon-inner {
            width: 100%;
            height: 100%;
            padding: 4px;
            border-radius: 100%;
            background: $background-light;
            .dark-mode & {
              background: $background-dark1;
            }
            .icon {
              width: 100%;
              height: 100%;
              fill: $text-color-label-dark;
              .dark-mode & {
                fill: $white;
              }
            }
          }
        }
      }
    }
    .card-bottom {
      padding: 10px 20px 20px 20px;
      display: flex;
      justify-content: space-between;
      .cardbottom-row {
        padding: 4px 15px 0 0;
        label {
          color: $text-color-light2;
          font-size: $font-size-sm;
          .dark-mode & {
            color: $text-color-light;
          }
        }
        p {
          font-size: $font-size-base + 2;
          margin-bottom: 0;
          color: $text-color-dark2;
          font-weight: 500;
          .dark-mode & {
            color: $white;
          }
        }
        .percent-box {
          font-size: $font-size-sm + 1;
          border-radius: 5px;
          padding: 1px 4px;
          width: fit-content;
          span {
            display: flex;
            align-items: center;
          }
          .icon {
            background: $white;
            width: 20px;
            height: 20px;
            border-radius: 15px;
            margin: 3px 5px 3px 0;
          }
          .view-all-farm-apr {
            cursor: pointer;
            text-align: center;
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }

  &:hover {
    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4),
      -10px -10px 30px rgba(255, 255, 255, 0.7),
      inset 10px 10px 10px rgba(255, 255, 255, 0.25),
      inset -10px -10px 10px rgba(174, 174, 192, 0.25);

    .dark-mode & {
      box-shadow: 0 -1px 13px 6px #1d2336, inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .dark-mode & {
      background: $primary-gradient-2 !important;
    }
  }
  &:hover .poolcard-two-inner {
    .dark-mode & {
      background: $background-dark1;
    }
  }
}

.pool-card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 21px;
  @media screen and (max-width: 990px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 460px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .dashboard-card {
    background: $background-light;
    padding: 1px;
    border-radius: $base-border-radius;
    box-shadow: $box-shadow-inner-light;
    .dark-mode & {
      background: $background-dark1;
      border: 1px solid $border-dark;
      box-shadow: $box-shadow-inner-dark;
    }
    .dashboard-card-inner {
      cursor: pointer;
      border-radius: $base-border-radius;
      .card-upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 10px 20px 0 20px;

        h3 {
          margin-bottom: 0;
          font-weight: 300;
          .dark-mode & {
            color: $text-color-label-dark;
          }
        }
        .card-svg-icon-container {
          display: flex;
          .card-svgicon-1 {
          }
          .card-svgicon-2 {
            margin-left: -10px;
          }
          .card-svgicon {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background: $primary-gradient;
            padding: 1px;
            .card-svgicon-inner {
              width: 100%;
              height: 100%;
              padding: 4px;
              border-radius: 100%;
              background: $background-light;
              .dark-mode & {
                background: $background-dark1;
              }
              .icon {
                width: 100%;
                height: 100%;
                fill: $text-color-label-dark;
                .dark-mode & {
                  fill: $white;
                }
              }
            }
          }
        }
      }
      .card-bottom {
        padding: 10px 20px 20px 20px;
        .cardbottom-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 4px 0;
          label {
            color: $text-color-light2;
            font-size: $font-size-sm;
            .dark-mode & {
              color: $text-color-light;
            }
          }
          p {
            font-size: $font-size-base;
            margin-bottom: 0;
            color: $text-color-dark2;
            .dark-mode & {
              color: $white;
            }
          }
        }
      }
    }

    &:hover {
      box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4),
        -10px -10px 30px rgba(255, 255, 255, 0.7),
        inset 10px 10px 10px rgba(255, 255, 255, 0.25),
        inset -10px -10px 10px rgba(174, 174, 192, 0.25);

      .dark-mode & {
        box-shadow: 0 -1px 13px 6px #1d2336, inset 0 4px 4px rgba(0, 0, 0, 0.25);
      }
      .dark-mode & {
        background: $primary-gradient-2 !important;
      }
    }
    &:hover .dashboard-card-inner {
      .dark-mode & {
        background: $background-dark1;
      }
    }
  }
  .dashboard-card-inner {
    cursor: pointer;
    .card-upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      h3 {
        margin-bottom: 0;
        .dark-mode & {
          color: $text-color-label-dark;
        }
      }
      .card-svgicon {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background: $primary-gradient;
        padding: 1px;
        .card-svgicon-inner {
          width: 100%;
          height: 100%;
          padding: 4px;
          border-radius: 100%;
          background: $background-dark1;
          .icon {
            width: 100%;
            height: 100%;
            fill: $white;
          }
        }
      }
    }
    .card-bottom {
      padding-bottom: 4px;
      .cardbottom-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 0;
        label {
          color: $text-color-light;
          font-size: $font-size-sm;
        }
        p {
          font-size: $font-size-base;
          margin-bottom: 0;
          .dark-mode & {
            color: $white;
          }
        }
      }
    }
  }
}

.ant-skeleton {
  &.apr-skeleton {
    height: 16px;
    margin-top: 1.8px;
    .ant-skeleton-button {
      height: 16px;
      line-height: 16px;
      &::after {
        background: linear-gradient(
          90deg,
          rgba(188, 17, 17, 0.2) 25%,
          rgba(50, 65, 230, 0.24) 37%,
          rgba(188, 17, 17, 0.2) 63%
        );
      }
    }
  }
}
.farm-apr-modal {
  .ant-tooltip-inner {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    width: 100%;

    background: $background-light !important;
    color: $tooltip-color-dark;
    font-size: $font-size-sm;
    min-height: 18px;
    padding: 2px 3px;
    line-height: 13px;
    border-radius: 10px;
    font-weight: 400;

    .dark-mode & {
      background: $background-dark1 !important;
      color: $tooltip-color-dark;
      border: 2px solid $border-dark;
    }
    span {
      display: flex;
      align-items: center;
      margin: 10px;
      color: black;
      .dark-mode & {
        color: white;
      }
    }

    .icon {
      background: $white;
      width: 20px;
      height: 20px;
      border-radius: 15px;
      margin: 3px 5px 3px 0;
    }
  }
  span {
    display: flex;
    align-items: center;
    margin: 10px;
    color: black;
    .dark-mode & {
      color: white;
    }
  }

  .icon {
    background: $white;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    margin: 3px 5px 3px 0;
  }
}
