@import "../../assets/scss/variables.scss";

.farm-content-card {
  background: $background-light;
  padding: 15px 35px 10px 35px;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow-inner-light;
  position: relative;
  height: 100%;
  .dark-mode & {
    background: $background-dark1;
    border: 1px solid $border-dark;
    box-shadow: $box-shadow-inner-dark;
  }
  .assets-select-card:nth-child(2) {
    margin-top: 20px;
  }
  .assets-form-btn {
    margin-top: 30px;
  }
}

.farmupper-row {
  margin-bottom: 1.5rem;
  .farm-upper-card {
    padding: 3rem;
    border-radius: 20px;
    min-height: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background-size: cover;
    h1{
      font-weight: 800;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.1rem;
      a {
        color: #929FE1;
        text-decoration: none;
        margin-top: 0.6rem;
        display: inline-block;
      }
    }
    &.farm-upper-card2 {
      padding: 1.3rem 2.2rem;
      h2{
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 1rem;
      }
      .inner-card-row {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        .inner-card{
          background: rgba(255, 255, 255, 0.02);
          backdrop-filter: blur(2px);
          border-radius: 10px;
          border: 1px solid #FE435032;
          padding: 1rem;
          p{
            font-size: $font-size-base;
            font-weight: 400;
            margin-bottom: 1rem;
            line-height: 1.4;
          }
        }
      }
    }
  }
}

.farm-content-card-right {
  background: $background-light;
  padding: 15px 35px;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow-inner-light;
  position: relative;
  .dark-mode & {
    background: $background-dark1;
    border: 1px solid $border-dark;
    box-shadow: $box-shadow-inner-dark;
  }
  @media screen and (max-width: 991px) {
    margin-top: 20px;
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: 2px;
    font-weight: 500;
    .dark-mode & {
      color: $text-color-light;
    }
  }

  .pool-details-upper {
    display: flex;
    align-items: center;
    .pool-details-dlt {
      line-height: 1;
      padding-left: 10px;
      margin-top: 10px;
      margin-bottom: 15px;
      h2 {
        margin-bottom: 0;
        font-size: $font-size-lg;

        .dark-mode & {
          color: $white;
        }
      }
      small {
        color: $text-color-label-dark;
      }
    }
    .pool-details-icon {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      background: $primary-gradient;
      padding: 1px;
      .pool-details-icon-inner {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: $white;
        padding: 5px;
        .dark-mode & {
          background: $background-dark1;
        }
        .icon {
          width: 100%;
          height: 100%;
          fill: $background-dark1;
          border-radius: 50%;
          .dark-mode & {
            fill: $white;
          }
        }
      }
    }
  }
  .pool-details-list {
    label {
      font-size: $font-size-sm;
      color: $text-color-light;
      margin-bottom: 7px;
      display: inline-block;
      line-height: 1;
    }
    p {
      margin-bottom: 0;
      line-height: 1;
      font-size: $font-size-base;
    }
  }
  &.your-details-card {
    margin-top: 2.1rem !important;
    .slider-numbers {
      .ant-slider {
        &.comdex-slider {
          margin-top: 6px;
          padding-right: 15px;
          .ant-slider-dot {
            display: none;
          }
          .ant-slider-mark {
            top: 16px;
          }
        }
      }
      h3 {
        font-size: $font-size-base;
        .dark-mode & {
          color: $white !important;
        }
      }
      .ant-input {
        margin-bottom: 0;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        font-weight: 300;
        padding: 0 0;
        margin-top: -10px;
        max-width: 35px;
        text-align: center;
        font-size: $font-size-lg + 3;
        background-color: transparent;
        border: none;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          display: none;
          margin: 0;
        }
        .dark-mode & {
          background: transparent;
          border-color: #18305a;
          color: $white;
        }
      }
    }
  }
}

.alert-label {
  font-size: 11px;
  color: $error-color;
  height: 11px;
  visibility: visible;
  margin-bottom: 4px;
  width: 100%;
}

.alert-hidden {
  height: 11px;
  visibility: hidden;
}

.farm-modal-tab {
  height: 100%;
  .ant-tabs-nav {
    margin-bottom: 16px !important;
  }
  .ant-tabs-content-holder {
    height: 100%;
    .ant-tabs-content {
      height: 100%;
      .ant-tabs-tabpane {
        height: 100%;
        .common-card {
          height: 100%;
        }
      }
    }
  }
  .farm-content-card {
    box-shadow: none;
    padding: 25px 0 15px 0;
    .dark-mode & {
      box-shadow: none;
      border: none !important;
    }
  }
  @media (min-width: 992px) {
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 100%;
    }
  }
  .col-md-12,
  .col-lg-6 {
    padding-right: 0;
    padding-left: 0;
  }
}
.farm-asset-icon-container {
  background: none !important;
  border: 0 !important;
  height: 40px;
  min-width: 140px;
  padding-left: 0;
  box-shadow: none !important;
  .select-inner {
    height: 100%;
    display: flex;
    align-items: center;
    .svg-icon {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: $primary-gradient;
      padding: 1px;
      margin-right: 15px;
      .svg-icon-inner {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 6px;
        background: $white;
        .dark-mode & {
          background: $background-dark1;
        }
        .icon {
          width: 100%;
          height: 100%;
          fill: $background-dark1;
          border-radius: 50%;
        }
      }
    }
    .name {
      .dark-mode & {
        color: $white;
      }
      font-size: 17px;
    }
  }
}

.fartm-pool-modal {
  .ant-modal-content {
    padding: 20px 30px !important;
  }
}

.slider-numbers {
  display: flex;
  .ant-slider {
    &.comdex-slider {
      margin-top: 6px;
      padding-right: 15px;
      .ant-slider-dot {
        display: none;
      }
      .ant-slider-mark {
        top: 16px;
      }
    }
  }
  h3 {
    font-size: $font-size-base;
    .dark-mode & {
      color: $white !important;
    }
  }
  .ant-input {
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-weight: 300;
    margin-top: -14px;
    max-width: 70px;
    padding: 0 25px 0 10px;
    text-align: center;
    font-size: 19px;
    border: none;
    background: $assets-bg-light;
    margin-left: 10px;

    .dark-mode & {
      background: #081938;
      border-color: #18305a;
      color: $white;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
      margin: 0;
    }
  }
}
.availabe-balance {
  position: absolute;
  right: 25px;
  font-size: $font-size-sm;
  .dark-mode & {
    color: $white;
  }
  span {
    color: $secondary-color;
  }
}
.percent-text {
  margin-left: 6px;
  margin-top: -5px;
  .dark-mode & {
    color: $text-color-light;
  }
}

.farm-heading {
  font-size: 1.388rem;
  margin-bottom: 0;
  font-weight: 500;
  @media screen and (max-width: 1540px) {
    font-size: 1.1rem;
  }
  &.farm-headingtimer {
    @media screen and (max-width: 540px) {
      margin-top: 10px;
    }
  }
}

.farm-pool-list {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 21px;
  @media screen and (max-width: 990px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 460px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.poolcard-two {
  background: $primary-gradient;
  border-radius: $base-border-radius;
  border: 2px solid #303950;
  
  .poolcard-two-inner {
    cursor: pointer;
    border-radius: $base-border-radius;
    height: 100%;
    padding: 15px 10px;
    .card-upper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 15px;
      padding: 10px 20px 0 20px;

      .upper-right {
        text-align: right;
        .tags {
          font-weight: 700;
          padding: 2px;
          display: inline-block;
          margin-left: 8px;
          margin-bottom: 0.8rem;
          .tag-inner {
            width: 100%;
            height: 100%;
            border-radius: 41px;
            padding: 5px 18px;
            font-size: $font-size-sm;
          }
          &.tag1 {
            background: linear-gradient(99.28deg, #73AED2 -18.16%, #5E68C0 116.84%);
            border-radius: 41px;
            .tag-inner {
              background: #132339;
            }
          }
          &.tag2 {
            background: linear-gradient(95.24deg, #70F0AF -5.75%, #3FBB7C 110.25%);
            border-radius: 41px;
            .tag-inner {
              background: #132339;
            }
          }
        }
      }

      .percent-box {
        border: 1px solid $text-color-light;
        color: $text-color-light;
        background: rgba($color: $text-color-light, $alpha: 0.2);
        font-size: $font-size-sm + 1;
        border-radius: 4px;
        padding: 2px 8px;
        min-width: 70px;
        height: 26px;
        line-height: 20px;
        text-align: center;
        margin: 8px auto 0 auto;
        display: inline-block;
        @media screen and (max-width: 1540px) {
          font-size: $font-size-sm - 1;
          min-width: 65px;
          padding: 2px 6px;
          height: 21px;
          line-height: 15px;
          margin: 6px auto 0 auto;
        }
      }

      h3 {
        margin-bottom: 0;
        font-size: 1.45rem;
        margin-left: 0;
        color: $white;
        @media screen and (max-width: 1540px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 1300px) {
          font-size: 0.9rem;
        }
      
      }
      .card-icon-container {
        margin-top: 0.5rem;
        .card-icon-container-inner {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
        }
        .card-svgicon-1 {
          margin-right: 10px;
        }
        .card-svgicon-2 {
          margin-left: -18px;
        }
        .card-svgicon {
          width: 48px;
          height: 48px;
          border-radius: 48px;
          background: $primary-gradient;
          padding: 1px;
          @media screen and (max-width: 1540px) {
            width: 32px;
            height: 32px;
            border-radius: 32px;
          }
          .card-svgicon-inner {
            width: 100%;
            height: 100%;
            padding: 4px;
            border-radius: 100%;
            background: $background-light;
            .dark-mode & {
              background: $background-dark1;
            }
            .icon {
              width: 100%;
              height: 100%;
              fill: $text-color-label-dark;
              border-radius: 50%;
              .dark-mode & {
                fill: $white;
              }
            }
          }
        }
        .pool-id {
          padding-left: 0;
          font-size: 12px;
          padding-top: 5px;
        }
      }
    }
    .card-bottom {
      padding: 10px 20px 20px 20px;
      width: 100%;
      justify-content: space-between;
      .tags {
        font-weight: 700;
        padding: 2px;
        display: inline-block;
        margin-left: 8px;
        margin-bottom: 0.8rem;
        .tag-inner {
          width: 100%;
          height: 100%;
          border-radius: 41px;
          padding: 6px 18px;
          font-size: $font-size-sm;
        }
        &.tag1 {
          background: linear-gradient(99.28deg, #73AED2 -18.16%, #5E68C0 116.84%);
          border-radius: 41px;
          .tag-inner {
            background: #132339;
          }
        }
        &.tag2 {
          background: linear-gradient(95.24deg, #70F0AF -5.75%, #3FBB7C 110.25%);
          border-radius: 41px;
          .tag-inner {
            background: #132339;
          }
        }
      }
      .showdetails-btn {
        border: 0;
        color: #BEC9F8;
        font-weight: 500;
        background: none;
      }
      .cardbottom-row {
        font-size: $font-size-lg + 1;
        font-weight: 600;
        padding: 8px 0;
        .icon-text {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-weight: 600;
          &:not(:first-child) {
            margin-top: 8px;
          }
          .icon {
            width: 25px;
            height: 25px;
            margin-right: 4px;
          }
        }
        label {
          color: #B1D2E5;
          margin-bottom: 5px;
          font-weight: 600;
          .upto-text {
            color: $success-color;
            font-weight: 800;
            margin-left: 5px;
          }
        }
        p {
          font-size: $font-size-base + 2;
          margin-bottom: 0;
          color: $text-color-dark2;
          font-weight: 500;
          .dark-mode & {
            color: $white;
          }
        }
        .percent-box {
          border: 1px solid $text-color-light;
          color: $text-color-light;
          background: rgba($color: $text-color-light, $alpha: 0.2);
          font-size: $font-size-sm;
          border-radius: 4px;
          padding: 1px 8px 1px 4px;
          width: fit-content;
          @media screen and (max-width: 1540px) {
            font-size: $font-size-sm - 1;
          }
          span {
            display: flex;
            align-items: center;
          }
          .icon {
            background: $white;
            width: 20px;
            height: 20px;
            border-radius: 15px;
            margin: 3px 5px 3px 0;
            @media screen and (max-width: 1540px) {
              width: 15px;
              height: 15px;
              border-radius: 16px;
              min-width: 15px;
            }
          }
          .view-all-farm-apr {
            cursor: pointer;
            text-align: center;
            justify-content: center;
            width: 100%;
          }
        }
        .swap-apr {
          width: max-content;
          font-size: $font-size-sm + 1;
        }
      }
    }
  }

}

.pool-card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 2px;
  @media screen and (max-width: 1240px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 460px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .dashboard-card {
    background: $background-light;
    padding: 1px;
    border-radius: $base-border-radius;
    box-shadow: $box-shadow-inner-light;
    .dark-mode & {
      background: $background-dark1;
      border: 1px solid $border-dark;
      box-shadow: $box-shadow-inner-dark;
    }
    .dashboard-card-inner {
      cursor: pointer;
      border-radius: $base-border-radius;
      .card-upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 10px 20px 0 20px;

        h3 {
          margin-bottom: 0;
          font-weight: 300;
          color: $text-color-label-dark;
        }
        .card-svg-icon-container {
          display: flex;
          .card-svgicon-2 {
            margin-left: -10px;
          }
          .card-svgicon {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background: $primary-gradient;
            padding: 1px;
            .card-svgicon-inner {
              width: 100%;
              height: 100%;
              padding: 4px;
              border-radius: 100%;
              background: $background-light;
              .dark-mode & {
                background: $background-dark1;
              }
              .icon {
                width: 100%;
                height: 100%;
                fill: $text-color-label-dark;
                .dark-mode & {
                  fill: $white;
                }
              }
            }
          }
        }
      }
     
    }
  }
  .dashboard-card-inner {
    cursor: pointer;
    .card-upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      h3 {
        margin-bottom: 0;
        .dark-mode & {
          color: $text-color-label-dark;
        }
      }
      .card-svgicon {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background: $primary-gradient;
        padding: 1px;
        .card-svgicon-inner {
          width: 100%;
          height: 100%;
          padding: 4px;
          border-radius: 100%;
          background: $background-dark1;
          .icon {
            width: 100%;
            height: 100%;
            fill: $white;
          }
        }
      }
    }
    .card-bottom {
      padding-bottom: 10px 20px 0 20px;
      .cardbottom-row {
        display: flex;
        align-items: center;
        padding: 4px 0;
        label {
          color: $text-color-light;
          font-size: $font-size-sm;
        }
        p {
          font-size: $font-size-base;
          margin-bottom: 0;
          .dark-mode & {
            color: $white;
          }
        }
      }
    }
  }
}

.ant-skeleton {
  &.apr-skeleton {
    height: 16px;
    margin-top: 1.8px;
    .ant-skeleton-button {
      height: 16px;
      line-height: 16px;
      &::after {
        background: linear-gradient(
          90deg,
          rgba(188, 17, 17, 0.2) 25%,
          rgba(50, 65, 230, 0.24) 37%,
          rgba(188, 17, 17, 0.2) 63%
        );
      }
    }
  }
}
.farm-apr-modal {
  font-size: $font-size-base;
  .ant-tooltip-inner {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    width: 100%;

    background: $background-light !important;
    color: $tooltip-color-dark;
    font-size: $font-size-sm;
    min-height: 18px;
    padding: 2px 3px;
    line-height: 13px;
    border-radius: 10px;
    font-weight: 400;

    .dark-mode & {
      background: $background-dark1 !important;
      color: $tooltip-color-dark;
      border: 2px solid $border-dark;
    }
    span {
      display: flex;
      align-items: center;
      margin: 10px;
      color: black;
      .dark-mode & {
        color: white;
      }
    }

    .icon {
      background: $white;
      width: 20px;
      height: 20px;
      border-radius: 15px;
      margin: 3px 5px 3px 0;
    }
  }
  span {
    display: flex;
    align-items: center;
    margin: 10px;
    color: black;
    .dark-mode & {
      color: white;
    }
  }

  .icon {
    background: $white;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    margin: 3px 5px 3px 0;
  }
}

.farmtab-right-action {
  display: flex;
  align-items: center;
  .ant-select {
    flex-direction: column-reverse;
    min-width: 140px;
    .ant-select-selector {
      background: none;
      height: 40px;
      border-radius: 40px;
      font-family: $font-family;
      text-align: center;
      .ant-select-selection-item {
        line-height: 40px;
        color: $white;
      }
    }
    .ant-select-arrow {
      .icon {
        width: 12px;
        fill: $white;
      }
    }
  }
  .ant-input-affix-wrapper {
    border: 1px solid #C5CBDB;
    border-radius: 30px;
    margin-left: 15px;
    height: 39px;
    padding: 4px 18px;
    background: none;
    &:hover {
      border-color: $border-light;
    }
    input {
      background: none;
      font-weight: normal;
      color: $white;
      font-family: $font-family;
      &::placeholder {
        color: #C5CBDB;
        opacity: 1;
        font-weight: 500;
      }
    }
    .ant-input-suffix {
      .icon {
        fill: $border-dark;
      }
    }
  }
}

.farm-disclaimer-info {
  color: #ea6262;
  margin-top: 38px;
  display: flex;
  align-items: center;
  position: initial;
  z-index: 999;
  height: 60px;
  padding: 0 20px 0 30px;
  border-radius: 16px;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 630px;
  margin-top: -42px;
  background: $background-light;
  &.fixedHeaderOnScroll {
    position: initial;
  }
  @media screen and (max-width: 1540px) {
    font-size: $font-size-base;
    max-width: 550px;
    height: 45px;
    padding: 0 16px 0 20px;
  }
  @media screen and (max-width: 1280px) {
    font-size: $font-size-sm - 1;
    max-width: 266px;
    padding: 0 16px 0 14px;
  }
  @media screen and (max-width: 991px) {
    font-size: $font-size-sm - 1;
  }
  @media screen and (max-width: 840px) {
    max-width: 90%;
    margin-top: -32px;
    margin-bottom: 15px;
  }
  @media screen and (max-width: 576px) {
    max-width: 90%;
  }
  .dark-mode & {
    background: $background-dark1;
  }
  .icon {
    fill: #ea6262;
    margin-right: 8px;
    width: 20px;
    @media screen and (max-width: 1540px) {
      width: 15px;
    }
  }
  .close-icon {
    fill: #747474;
    stroke: $white;
    stroke-width: 2px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;
    width: 18px;
    @media screen and (max-width: 1540px) {
      width: 15px;
    }
    .dark-mode & {
      stroke: $background-dark1;
    }
    &:hover {
      fill: $secondary-color;
    }
  }
}

.masterpool-tooltip-icon {
  @media screen and (max-width: 1540px) {
    max-width: 12px;
    max-height: 12px;
  }
  .dark-mode & {
    fill: #b8b8b8;
  }
}

.farm-details-tabmain{
  .ant-tabs-nav{
    .ant-tabs-extra-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 346px);
    }
    @media screen and (max-width:590px) {
      display: block;
      .ant-tabs-extra-content{
        margin-top: 15px;
      }
    }
    .ant-tabs-nav-operations{
      @media screen and (max-width:767px) {
        display: none;
      } 
    }
    .ant-tabs-nav-list{
      @media screen and (max-width:767px) {
        width: 100%;
        transform: translate(0) !important;
        margin-bottom: 8px;
      }
    }
  }
}