@import "../../assets/scss/variables.scss";

.header_logo {
  text-align: center;
  padding: 10px 10px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  .icon {
    width: 74px;
  }
}

.link-buttons {
  display: flex;
  justify-content: flex-end;
  .text-small {
    font-size: 10px;
    border: none;
    margin-right: 5px;
    color: $white;
    padding: 5px 8px;
    cursor: pointer;
  }
}
