.card__wrap {
  width: 100%;
  // background: linear-gradient(180deg, #030b1e 0%, #030b1e 100%);
  // border: 2px solid #303950;
  // border-radius: 20px;
  border-radius: 16.255px;
  border: 1px solid #2a2a2a;
  background: linear-gradient(
    180deg,
    rgba(3, 11, 30, 0.7) 0%,
    rgba(3, 11, 30, 0.7) 100%
  );
  backdrop-filter: blur(20.725688934326172px);
}

.card__main {
  padding: 15px;
  height: 100%;
}
