@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');
@import "../../assets/scss/variables.scss";

.orderbook-wrapper{
  display: flex;
  font-family: 'Red Hat Display', sans-serif;
  @media screen and (max-width:1300px) {
    flex-flow: wrap;
  }
  .order-tables{
    .ant-table{
      background: none;
      .ant-table-thead{
        tr {
          th {
            background: none;
            color: #73AED2;
            padding: 3px 5px;
            font-size: 11px;
            font-weight: 600;
          }
        }
      }
      .ant-table-tbody{
        tr {
          td {
            background: none;
            padding: 3px 5px;
            font-size: 11px;
            font-weight: 600;
            .dark-mode & {
              color: $white;
            }
            &.text-red{
              color: #FF7B51;
            }
            &.text-green{
              color: #3FF4BE;
            }
          }
        }
      }
    }
  }
  .orderbook-col1{
    width: 55%;
    @media screen and (max-width:1300px) {
      width: 100%;
    }
    .chart-card{
      background: $background-light;
      padding: 1px;
      border-radius: $base-border-radius;
      box-shadow: $box-shadow-inner-light;
      border: 1px solid transparent;
      .dark-mode & {
        background: $background-dark1;
        border: 1px solid $border-dark;
        box-shadow: $box-shadow-inner-dark;
      }
      .card-header{
        padding: 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-dark;
        .left-head{
          font-size: $font-size-lg + 2;
          display: flex;
          align-items: center;
          font-weight: 500;
          .icon {
            width: 18px;
            margin-right: 8px;
            .dark-mode & {
              fill: $white;
            }
          }
        }
        ul {
          list-style-type: none;
          margin-bottom: 0;
          width: 100%;
          margin-left: 22px;
          label {
            margin-bottom: 8px;
            display: block;
          }
          p{
            margin-bottom: 0;
            font-weight: 500;
          }
          li{
            display: inline-block;
            width: 20%;
            &:nth-child(1) {
              label {
                color: #3CE9D4;
                font-size: $font-size-base;
                display: block;
              }
              p{
                font-size: $font-size-sm;
                .dark-mode & {
                  color: $white;
                }
              }
            }
            &:nth-child(2) {
              label {
                color: $text-color-light;
                font-size: $font-size-sm - 2;
              }
              p{
                font-size: $font-size-sm - 1;
                color: #3CE9D4;
              }
            }
            &:nth-child(3) {
              label {
                color: $text-color-light;
                font-size: $font-size-sm - 2;
              }
              p{
                font-size: $font-size-sm - 1;
                .dark-mode & {
                  color: $white;
                }
              }
            }
            &:nth-child(4) {
              label {
                color: $text-color-light;
                font-size: $font-size-sm - 2;
              }
              p{
                font-size: $font-size-sm;
                .dark-mode & {
                  color: #EB4545;
                }
              }
            }
          }
        }
      }
      .card-body{
        padding: 20px 0 20px 20px;
      }
    }
    .bottom-area{
      margin-top: 20px;
      .order-tables{
        margin-top: 10px;
        .ant-table{
          .ant-table-thead{
            tr{
              th{
                font-size: $font-size-base;
                font-weight: 500;
              }
            }
          }
          .ant-table-body{
            tr{
              td{
                font-size: $font-size-base;
                font-weight: 500;
              }
            }
          }
        }
      }
      .cancel-all-btn{
        padding: 0;
        height: auto;
        background: none;
        color: $secondary-color;
      }
      .ant-tabs{
        &.comdex-tabs{
          .ant-tabs-nav{
            width: 100%;
            .ant-tabs-nav-wrap{
              width: 100%;
              display: block !important;
              .ant-tabs-nav-list{
                border-radius: 40px;
                width: 100%;
                .ant-tabs-tab-btn{
                  font-size: $font-size-lg + 1;
                }
              }
            }
          }
        }
      }
    }
  }
  .orderbook-col2{
    width: 24%;
    margin: 0 22px;
    @media screen and (max-width:1300px) {
      width: 45%;
      margin: 2rem 5% 0 0;
    }
    @media screen and (max-width:576px) {
      width: 100%;
      margin: 2rem 0 0 0;
    }
    .order-card{
      background: $background-light;
      padding: 1px;
      border-radius: $base-border-radius;
      box-shadow: $box-shadow-inner-light;
      border: 1px solid transparent;
      .dark-mode & {
        background: $background-dark1;
        border: 1px solid $border-dark;
        box-shadow: $box-shadow-inner-dark;
      }
      .card-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid $border-dark;
        font-size: 13px;
        font-weight: 700;
        width: calc(100% - 28px);
        margin: auto;
        .right-action{
          color: #CDFE43;
          font-size: 12px;
          display: flex;
          align-items: center;
          .icon {
            fill: #CDFE43;
            width: 10px;
            margin-left: 5px;
          }
        }
      }
      .card-body {
        padding: 10px 15px;
      }
      .header-bottom{
        border-bottom: 1px solid $border-dark;
        border-top: 1px solid $border-dark;
        padding: 12px 15px;
        font-size: 12px;
        font-weight: 700;
        span {
          font-size: 10px;
          color: $text-color-light;
          margin-left: 10px;
          font-weight: normal;
        }
      }
      .card-body-bottom{
        padding: 10px 15px;
      } 
    }
  }
  .orderbook-col3{
    width: 31%;
    @media screen and (max-width:1300px) {
      width: 50%;
      margin-top: 2rem;
    }
    @media screen and (max-width:576px) {
      width: 100%;
      margin: 2rem 0 0 0;
    }
    .spot-card{
      background: $background-light;
      padding: 1px;
      border-radius: $base-border-radius;
      box-shadow: $box-shadow-inner-light;
      border: 1px solid transparent;
      .dark-mode & {
        background: $background-dark1;
        border: 1px solid $border-dark;
        box-shadow: $box-shadow-inner-dark;
      }
      .card-header{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border-dark;
        svg {
          .dark-mode & {
            fill: $white;
            width: 20px;
          }
        }
      }
      .card-body {
        padding: 30px 15px 38px 15px;
        .ant-tabs{
          &.comdex-tabs{
            .ant-tabs-nav{
              width: 100%;
              .ant-tabs-nav-wrap{
                width: 100%;
                display: block !important;
                .ant-tabs-nav-list{
                  border-radius: 40px;
                  width: 100%;
                  .ant-tabs-tab-btn{
                    font-size: $font-size-lg + 2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


.spot-card-dtl{
  font-weight: 500;
  font-family: 'Red Hat Display', sans-serif;
  .dtl-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding:12px 10px;
    border-bottom: 1px solid transparent;
    font-size: $font-size-sm;
    margin-top: 5px;
    .dark-mode & {
      border-bottom: 1px solid $border-dark;
    }
    label {
      color: $text-color-light;
      margin-left: 1.5rem;
    }
    .icon {
      width: 26px;
      height: 26px;
    }
  }
  .avai-balance-dtl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 38px 10px;
    border-bottom: 1px solid transparent;
    .dark-mode & {
      border-bottom: 1px solid $border-dark;
    }
    p{
      font-weight: 400;
      .dark-mode & {
        color: $white;
        font-size: $font-size-lg + 4;
      }
    }
    h4{
      .dark-mode & {
        color: $white;
        font-size: $font-size-lg + 4;
        font-weight: 700;
      }
    }
    label {
      font-size: $font-size-base;
      .dark-mode & {
        color: $text-color-light;
      }
    }
  }
  .price-dtl{
    border-bottom: 1px solid transparent;
    padding: 15px 10px;
    .dark-mode & {
      border-bottom: 1px solid $border-dark;
    }
    .price-dtl-row{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 16px 0;
      label{
        width: 100px;
        font-weight: 400;
        font-size: $font-size-lg;
        .dark-mode & {
          color: $white;
        }
      }
      .ant-input-affix-wrapper {
        background-color: #1F2A45;
        border: 0;
        border-radius: 4px;
        font-size: 14px;
        height: 50px;
        padding: 4px 15px;
        .ant-input{
          text-align: right;
          background: none;
          font-weight: 700;
          .dark-mode & {
            color: $white;
          }
        }
        .ant-input-suffix{
          margin-left: 8px;
          font-weight: 400;
          .dark-mode & {
            color: $white;
          }
        }
      }
    }
    .btn-row{
      text-align: right;
      padding-top: 0.4rem;
      .ant-btn{
        padding: 0 12px;
        height: 28px;
        line-height: 28px;
        font-size: 11px;
        border-radius: 4px;
        margin-left: 10px;
        .dark-mode & {
          border: 1px solid #293656;
          color: #EAEAEA;
        }
      }
    }
  }
  .total-row{
    padding: 22px 0;
    border-bottom: 1px solid transparent;
    .dark-mode & {
      border-bottom: 1px solid $border-dark;
    }
    .total-title{
      font-weight: 400;
      .dark-mode & {
        color: $white;
      }
    }
    .total-right{
      text-align: right;
      p{
        margin-bottom: 0;
        font-size: $font-size-lg;
        font-weight: 700;
        .dark-mode & {
          color: $white;
        }
      }
      label {
        font-weight: 500;
        font-size: $font-size-lg;
        .dark-mode & {
          color: $text-color-light
        }
      }
    }
  }
}

.tradingview-widget-container{
  #tradingview_6964b {
    height: 500px;
  }
}

.tradingview-widget-copyright{
  display: none !important;
}