.govern__wrap {
  padding: 40px 80px;
}

.govern__main {
  display: flex;
  flex-direction: column;
}

.govern__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #030b1e 0%, rgba(3, 11, 30, 0.71) 100%);
  border: 2px solid #303950;
  border-radius: 20px;
  padding: 22px 40px;
}

.govern__element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &.active {
    border-left: 7px solid #ff4350;
  }
}

.govern__element__title {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  margin-left: 15px;
  color: #ffffff;
}

.govern__element__details {
  margin-top: 12px;
  font-weight: 700;
  font-size: 37px;
  line-height: 45px;
  text-transform: uppercase;
  margin-left: 15px;
  color: #ffffff;
}

.govern__body {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  background: linear-gradient(180deg, #030b1e 0%, rgba(3, 11, 30, 0.71) 100%);
  border: 2px solid #303950;
  border-radius: 20px;
  padding: 22px 40px;
}

.govern__body__upper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.govern__body__upper__title {
  background: #ff4350;
  border-radius: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 10px 60px;

  &.active {
    border: 1px solid #e2f7e5;
    background: transparent;
  }

  i {
    color: #ffffff;
    margin-left: 15px;
  }
}

.govern__body__lower {
  margin: 40px 0px;
}

.govern__body__lower__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
}

.govern__body__lower__left {
  display: flex;
  flex-direction: column;
}

.govern__body__lower__left__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: capitalize;

  color: #ffffff;
}

.govern__body__lower__pass {
  border: 1px solid #ff4350;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.govern__body__green {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #86ce86;
}

.govern__body__lower__pass__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  margin-left: 15px;
  color: #ffffff;
}

.govern__body__lower__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;

  &.active {
    margin-top: 10px;
  }
}

.govern__body__lower__right {
  display: flex;
  flex-direction: column;
}

.govern__body__lower__right__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.govern__body__lower__right__upper__element {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.govern__body__lower__right__upper__title {
  font-weight: 200;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;

  color: #ffffff;
}

.govern__view__header__element__details {
  margin-top: 8px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  margin-left: 15px;
  text-transform: uppercase;

  color: #ffffff;
}

.govern__right__line {
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  width: 7px;
  background: #ff4350;
}

.govern__view__body {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.govern__view__body__left {
  background: linear-gradient(180deg, #030b1e 0%, rgba(3, 11, 30, 0.71) 100%);
  border: 2px solid #303950;
  border-radius: 20px;
  padding: 40px;
  width: 100%;
}

.govern__view__body__right {
  background: linear-gradient(180deg, #030b1e 0%, rgba(3, 11, 30, 0.71) 100%);
  border: 2px solid #303950;
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.govern__view__body__left__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: capitalize;

  color: #ffffff;
}

.govern__view__lower__details {
  font-weight: 500;
  font-size: 20px;
  line-height: 131.4%;
  color: #f2f2f2;
  margin-top: 10px;
  overflow: auto;
  max-height: 302px;
}

.govern__view__lower__chart {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 10px 0px;
}

.govern__view__element__wrap {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-left: 7px solid #ff4350;
  margin-left: 20px;
}

.govern__view__element__details {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  margin-top: 16px;
  text-transform: capitalize;

  color: #ffffff;
}

.govern__view__footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.govern__view__footer__element {
  display: flex;
  align-items: flex-start;
}

.govern__yes {
  height: 19.764705657958984px;
  width: 19.764705657958984px;
  background: #ff4350;
  border-radius: 3.29412px;
  margin-right: 10px;
}

.govern__element__all__title {
  font-weight: 200;
  font-size: 22px;
  text-transform: capitalize;

  color: #ffffff;
}

.govern__element__all__details {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-transform: capitalize;

  color: #ffffff;
}

.govern__no {
  height: 19.764705657958984px;
  width: 19.764705657958984px;
  background: #dc7f86;
  border-radius: 3.29412px;
  margin-right: 10px;
}

.govern__abstain {
  height: 19.764705657958984px;
  width: 19.764705657958984px;
  background: #81808f;
  border-radius: 3.29412px;
  margin-right: 10px;
}

.govern__button__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
  button {
    border: 2px solid #6b758d;
    border-radius: 50px;
    padding: 10px 40px;
    background: transparent;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
    cursor: pointer;
  }
}

.govern__view__vote__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.govern__view__vote__button {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  padding: 10px 20px;
  color: #ffffff;
  border: 1px solid #ff4350;
  border-radius: 30px;
}

.progress_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progress {
  height: 287px;
  width: 287px;
  z-index: 1;
}

.progress .track,
.progress .fill {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 10;
  stroke-linecap: round;
  transform: rotate(90deg) translate(0px, -80px);
}

.progress .track {
  stroke: #81808f;
}

.progress .fill {
  stroke-dasharray: 219.99078369140625;
  stroke-dashoffset: -219.99078369140625;
  transition: stroke-dashoffset 1s;
}
