@import "../../assets/scss/variables.scss";

.footer {
  text-align: center;
  color: $text-color-dark;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  .dark-mode & {
    color: $text-color-light;
  }
  .footer-text{
    margin-bottom: 10px;
  }
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    a {
      padding: 2px 5px;
      .icon {
        width: 18px;
      }
      &:hover{
        .icon{
          fill: $secondary-color;
        }
      }
    }
  }
}
