$XS: 480px;
$S: 640px;
$M: 800px;
$L: 1024px;
$MIX: 1180px;
$XL: 1280px;
$XXL: 1440px;
$white: #ffffff;
$black: #000000;
$navyBlue: #acbfdb;
$red: #fe4350;
$inputColor1: #c5cbdb;
$inputColor2: #6b758d;

// Priyanshu

$primary-background: linear-gradient(
  180deg,
  #030b1e 0%,
  rgba(3, 11, 30, 0.71) 100%
);

// Background
$background-dark1: #211d34;
$background-dark2: #3c324c;
$background-light: #ffffff;
$background-light2: #f2f2f2;


$border-color: #303950;
$border-color-base: rgba(255, 255, 255, 0.7); // major border color
$base-border-radius: 10px;
// Colors

$primary-color-hover: #28292a;
$primary-color-light: #232231;
$success-color: #00ce8e; // success state color
$warning-color: #fdc011; // warning state color
$error-color: #f5222d; // error state color
$primary-color: #fe4350;
$btn-bg-dark: $background-dark1;
$border-dark: #303950;
$border-light: #697589;
$slider-empty-bg: #171424;

// Font Size
$font-size-base: 14px;
$font-size-xlg: $font-size-base + 4px; //18px
$font-size-lg: $font-size-base + 2px; //16px
$font-size-sm: $font-size-base - 2px; //12px

// Box shadow 
$box-shadow-inner-light: 3px 3px 10px rgba(174, 174, 192, 0.4),
  -8px -8px 12px rgba(174, 174, 192, 0.25);

$box-shadow-inner-light-hover: 3px 3px 10px rgba(174, 174, 192, 0.4),
  inset -8px -8px 12px rgba(174, 174, 192, 0.25);
